# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]
group_concat_max_len=699999
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
innodb_buffer_pool_size = 3072M
innodb_log_file_size = 5M
innodb_file_per_table=1
innodb_table_locks=0

tmp_table_size = 32M
max_heap_table_size = 64M
query_cache_size = 512M
query_cache_limit = 10M
max_connections = 4000
thread_cache_size = 50
table_open_cache = 800
open_files_limit = 16000
binlog_cache_size = 0
thread_stack = 196K
wait_timeout = 60
interactive_timeout = 60
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
 key_buffer_size = 128M
max_allowed_packet = 64M
sort_buffer_size = 8M
net_buffer_length = 8K
read_buffer_size = 2M
read_rnd_buffer_size = 16M
join_buffer_size = 8M
myisam_sort_buffer_size = 16M
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/apps/mysql/data
#datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysqld_safe]
log-error=/apps/mysql/logs/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid


